
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/movies">
        <img src="http://baltimoresportsandlife.com/wp-content/uploads/2016/07/Movies.jpg" alt="brand">
      </a>
    </div>
  </div>
</nav>
